body
{
    background-color:#f2f2f2;
}
#wrapper
{
    width :962px; 
    margin :0 auto;
    background-color : #ffffff;
    height : 100%;
}
#top
{
	background-color : #000000;
	color: #ffffff;
	width :100%;
	height :35px;
	float :left;
	font-size: 14px;
	margin :0 0 0 0;
	padding :0 0 0 0;
}

#loginOrLogout, #registerOrName, #line 
{
	float: right;
	color: white;
	margin :10px 10px 10px 0px;
	padding :0 0 0 0;
}
#header
{
	width :100%;
	height :100px;
	float :right;
	font-size: 70px;
	text-align: center;
	color: #ffffff;
	margin :0 0 0 0;
	padding :0 0 0 0;
	background-color : #ffffff;
	
}
#header p 
{
	margin :0 0 0 0;
	padding :0 0 0 0;
	
}
#blackP
{
	color: #000000;
}
#orangeP
{
		color: #ff9933;
}
#menu
{
	width :100%;
	height :50px;
	float :left;
	background-color:#f2f2f2;
	color:#000000;
	margin :8px 0 0 0;
	
}
#menu div
{
	background-color:#f2f2f2;
	float :left;
	color:#000000;
	margin :10px 30px;
	font-size: 20px;
	padding :0 0 0 0;
}
#basketCSS 
{
	background-color: red;
	float: right;
}
#main
{
	width :100%;
	height :100%px;
	float :left;
	margin :0 0 0 0;
	padding :0 0 0 0;
	min-height: 850px;
	background-color :#ffffff;
	text-align: left;
}
#mainTop
{
    padding :20px 20px 0px 20px;
}
#registerLeft
{
    float :left;
    padding :20px 20px 20px 20px;
}
#loginRight
{
    float:left;
    padding :20px 20px 20px 20px;
}
#topLink, #topLinkLogout
{
    color: white;
}
 a:link 
 {
  text-decoration: none;
  color: #000000;
}
 
 a:visited 
 {
    text-decoration: none;
    color: #000000;
    background-color: transparent;
}
 
a:hover 
{
    text-decoration: none;
    color: #ffcc00;
    background-color: transparent;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

 a:active 
 {
    color: #000066;
    background-color: #cc9900;
    text-decoration: none;
}
#footer{
	width :100%;
	height :100%;
	float :left;
	background-color : #000000;
	text-align : right;
	color: white;
	margin :0 0 0 0;
	padding :0 0 0 0;
}
#footer p 
{
    margin :0 0 0 0;
    padding :5px 30px 5px 0px;

}
#changeDetailsDiv
{
    padding : 0px 30px;
}
#slideShowIndex
{
  
}